{%- infile 'instances/' + aws_tag(instance, 'Name') + '.tf' -%}
resource "aws_instance" "{{ instance.InstanceId }}" {
    tags {
        {%- for tag in instance.Tags %}
        {{ ('"' + tag['Key'] + '"').ljust(15) }} = "{{ tag['Value'] }}"
        {%- endfor %}
        {{value}}
    }
}
{%- endinfile -%}