{%- set root_directory = "results" -%}
{%- infile "main.tf" -%}
# Include instances modules
{% for instance in instances -%}
include "{{ aws_tag(instance, 'Name') }}" {
    source = "./{{ 'instances/' + aws_tag(instance, 'Name') + '.tf' }}"
}
{%- include "instance.j2" %}
{% endfor %}
{%- endinfile -%}
